Import necessary libraries such as pandas for data manipulation, numpy for numerical operations, and geopy for geocoding. Additionally, we ensure geopy is installed.

In [1]:
import pandas as pd
import numpy as np
import os
from geopy.exc import GeocoderTimedOut 
from geopy.geocoders import Nominatim

*Importing the tables*

In [2]:
!pip install geopy

Requirement already satisfied: geopy in /Users/khuenguyen/Desktop/DATA_MINING/project/TFODCourse/tfod/lib/python3.9/site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in /Users/khuenguyen/Desktop/DATA_MINING/project/TFODCourse/tfod/lib/python3.9/site-packages (from geopy) (2.0)

Load various datasets from CSV files which include details on addresses, products, sales, and more. These datasets will be used for merging, transforming, and analysis.

In [3]:
Address = pd.read_csv('tables/Address.csv')
CountryRegion = pd.read_csv('tables/CountryRegion.csv')
Product = pd.read_csv('tables/Product.csv')
ProductSubcategory = pd.read_csv('tables/ProductSubcategory.csv')
SalesOrderDetail = pd.read_csv('tables/SalesOrderDetail.csv')
SalesOrderHeader = pd.read_csv('tables/SalesOrderHeader.csv')
StateProvince = pd.read_csv('tables/StateProvince.csv')
ProductCategory = pd.read_csv('tables/ProductCategory.csv')
ProductUnitPrice = pd.read_csv('tables/Product_UnitPrice.csv')

In [4]:
current_directory = os.getcwd()
output_folder_path = os.path.join(current_directory, "transformed_tables")
if not os.path.exists(output_folder_path):
    os.makedirs(output_folder_path)
print(output_folder_path)

/Users/khuenguyen/Desktop/data_warehouse/transformed_tables

 - Explore each dataset using methods like `info()` and `describe()` to understand the structure, content, and any immediate cleaning tasks such as dropping unnecessary columns.
 - Perform data cleaning tasks like removing unwanted columns, checking for duplicated entries, and handling null values appropriately for each dataset.

**1. Address**

In [5]:
Address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19614 entries, 0 to 19613
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   AddressID        19614 non-null  int64
 1   AddressLine1     19614 non-null  object
 2   AddressLine2     362 non-null    object
 3   City             19614 non-null  object
 4   StateProvinceID  19614 non-null  int64
 5   PostalCode       19614 non-null  object
 6   SpatialLocation  19614 non-null  object
 7   rowguid          19614 non-null  object
 8   ModifiedDate     19614 non-null  object
dtypes: int64(2), object(7)
memory usage: 1.3+ MB

Remove unecessary columns

In [6]:
Address = Address.drop(columns=['SpatialLocation','rowguid','ModifiedDate'])

In [7]:
object_columns = Address.select_dtypes(include='object').columns
numeric_columns = Address.select_dtypes(include='int64').columns

Check duplicated values

In [8]:
print(Address.duplicated().sum())

0

Check null values

In [9]:
Address.isnull().sum()

AddressID              0
AddressLine1           0
AddressLine2       19252
City                   0
StateProvinceID        0
PostalCode             0
dtype: int64

Because "AddressLine2" is just a complement address used to support "AddressLine1" (apartment number, block number, etc.), we can accept null value in this column

In [10]:
Address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19614 entries, 0 to 19613
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   AddressID        19614 non-null  int64
 1   AddressLine1     19614 non-null  object
 2   AddressLine2     362 non-null    object
 3   City             19614 non-null  object
 4   StateProvinceID  19614 non-null  int64
 5   PostalCode       19614 non-null  object
dtypes: int64(2), object(4)
memory usage: 919.5+ KB

In [11]:
Address.describe(include=['object'])

             AddressLine1       AddressLine2    City PostalCode
count               19614                362   19614      19614
unique              13572                195     575        661
top     Attaché de Presse  Verkaufsabteilung  London      98168
freq                   17                 35     434        215

**2.StateProvice**

In [12]:
StateProvince.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   StateProvinceID          181 non-null    int64
 1   StateProvinceCode        181 non-null    object
 2   CountryRegionCode        181 non-null    object
 3   IsOnlyStateProvinceFlag  181 non-null    int64
 4   Name                     181 non-null    object
 5   TerritoryID              181 non-null    int64
 6   rowguid                  181 non-null    object
 7   ModifiedDate             181 non-null    object
dtypes: int64(3), object(5)
memory usage: 11.4+ KB

Remove unwanted columns

In [13]:
StateProvince = StateProvince.drop(columns=['IsOnlyStateProvinceFlag','rowguid','ModifiedDate'])

Check duplicated

In [14]:
print(StateProvince.duplicated().sum())

0

Check null values

In [15]:
StateProvince.isnull().sum()

StateProvinceID      0
StateProvinceCode    0
CountryRegionCode    0
Name                 0
TerritoryID          0
dtype: int64

Convert CountryRegionCode into CountryRegionName

In [16]:
StateProvince['CountryRegionCode'] = StateProvince['CountryRegionCode'].map(CountryRegion.set_index('CountryRegionCode')['Name'])

In [17]:
StateProvince = StateProvince.rename(columns={'CountryRegionCode': 'CountryRegionName'})

In [18]:
StateProvince.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StateProvinceID    181 non-null    int64
 1   StateProvinceCode  181 non-null    object
 2   CountryRegionName  181 non-null    object
 3   Name               181 non-null    object
 4   TerritoryID        181 non-null    int64
dtypes: int64(2), object(3)
memory usage: 7.2+ KB

In [19]:
StateProvince.head()

,StateProvinceID,StateProvinceCode,CountryRegionName,Name,TerritoryID
0,1,AB,Canada,Alberta,6
1,2,AK,United States,Alaska,1
2,3,AL,United States,Alabama,5
3,4,AR,United States,Arkansas,3
4,5,AS,American Samoa,American Samoa,1

**5.SalesOrderHeader**

In [20]:
SalesOrderHeader.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31465 entries, 0 to 31464
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SalesOrderID            31465 non-null  int64
 1   RevisionNumber          31465 non-null  int64
 2   OrderDate               31465 non-null  object
 3   DueDate                 31465 non-null  object
 4   ShipDate                31465 non-null  object
 5   Status                  31465 non-null  int64
 6   OnlineOrderFlag         31465 non-null  int64
 7   SalesOrderNumber        31465 non-null  object
 8   PurchaseOrderNumber     3806 non-null   object
 9   AccountNumber           31465 non-null  object
 10  CustomerID              31465 non-null  int64
 11  SalesPersonID           3806 non-null   float64
 12  TerritoryID             31465 non-null  int64
 13  BillToAddressID         31465 non-null  int64
 14  ShipToAddressID         31465 non-null  int64
 15  ShipMethodID            31465 non-null  int64
 16  CreditCardID            30334 non-null  float64
 17  CreditCardApprovalCode  30334 non-null  object
 18  CurrencyRateID          13976 non-null  float64
 19  SubTotal                31465 non-null  object
 20  TaxAmt                  31465 non-null  object
 21  Freight                 31465 non-null  object
 22  TotalDue                31465 non-null  object
 23  Comment                 0 non-null      float64
 24  rowguid                 31465 non-null  object
 25  ModifiedDate            31465 non-null  object
dtypes: float64(4), int64(9), object(13)
memory usage: 6.2+ MB

Remove unwanted columns

In [21]:
selected_columns = ['SalesOrderID', 'OrderDate', 'DueDate','ShipDate','CustomerID','ShipToAddressID','TaxAmt','Freight','OnlineOrderFlag','Status']
SalesOrderHeader = SalesOrderHeader.loc[:, selected_columns]

Cast type of the tax amount, shipping (freight) and and type of online flag to boolean

In [22]:
SalesOrderHeader['TaxAmt'] = SalesOrderHeader['TaxAmt'].astype('str').str.replace(',', '.').astype(float)
SalesOrderHeader['Freight'] = SalesOrderHeader['Freight'].astype('str').str.replace(',', '.').astype(float)
SalesOrderHeader['OnlineOrderFlag'] = SalesOrderHeader['OnlineOrderFlag'].astype('bool')

Check null values and duplicated

In [23]:
SalesOrderHeader.isnull().sum()

SalesOrderID       0
OrderDate          0
DueDate            0
ShipDate           0
CustomerID         0
ShipToAddressID    0
TaxAmt             0
Freight            0
OnlineOrderFlag    0
Status             0
dtype: int64

In [24]:
print(SalesOrderHeader.duplicated().sum())

0

Remove values of Status == 6 because that status is cancelled orders. Based on phrase 1

In [25]:
SalesOrderHeader = SalesOrderHeader[(SalesOrderHeader['Status']!=6)]

By exploring the dataset on phrase 1 we know that there is a problem related to the date of order: some order dates are sooner than the actual shipping date or expected DueDate

In [26]:
SalesOrderHeader[(SalesOrderHeader['OrderDate'] >= SalesOrderHeader['DueDate']) | (SalesOrderHeader['OrderDate'] >= SalesOrderHeader['ShipDate'])]

,SalesOrderID,OrderDate,DueDate,ShipDate,CustomerID,ShipToAddressID,TaxAmt,Freight,OnlineOrderFlag,Status
21,43680,2012-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,29489,1069,1093.6394,341.7623,False,5
22,43681,2012-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,29661,955,1323.0668,413.4584,False,5

Cast the type of these dates to datetime for further analysis

In [27]:
SalesOrderHeader['OrderDate'] = pd.to_datetime(SalesOrderHeader['OrderDate'])
SalesOrderHeader['DueDate'] = pd.to_datetime(SalesOrderHeader['DueDate'])
SalesOrderHeader['ShipDate'] = pd.to_datetime(SalesOrderHeader['ShipDate'])

Examine the difference between OrderDate and DueDate

In [28]:
(SalesOrderHeader['DueDate'] - SalesOrderHeader['OrderDate']).value_counts()

12 days      31139
13 days          9
-354 days        2
Name: count, dtype: int64

In [29]:
(SalesOrderHeader['ShipDate'] - SalesOrderHeader['OrderDate']).value_counts()

7 days       31139
8 days           9
-359 days        2
Name: count, dtype: int64

2 rows have negative time interval, majority are 12 days and some are 13 days from DueDate, while 7 and 8 days from ShipDate. Therefore, we will subtract 12 days from DueDate or 7 days from ShipDate to get the OrderDate of negative intervals respectively to solve the invalid order date problem.

In [30]:
SalesOrderHeader.loc[(SalesOrderHeader['OrderDate'] >= SalesOrderHeader['DueDate']) | (SalesOrderHeader['OrderDate'] >= SalesOrderHeader['ShipDate']), 'OrderDate']=SalesOrderHeader[(SalesOrderHeader['OrderDate'] >= SalesOrderHeader['DueDate']) | (SalesOrderHeader['OrderDate'] >= SalesOrderHeader['ShipDate'])]['ShipDate'] - pd.Timedelta(days=7)

Create Date dimension

    Extract unique date values.
- Perform transformation to create attributes for date dimension
- Export into a csv file as date dimension

In [31]:
all_dates = pd.concat([
    SalesOrderHeader['OrderDate'],
    SalesOrderHeader['DueDate'],
    SalesOrderHeader['ShipDate']
]).sort_values().reset_index(drop=True)
date_records = pd.DataFrame({
    'DateID': all_dates.dt.strftime('%Y%m%d').astype('int64'),  # Generating sequential DateID starting from 1
    'FullDate': all_dates.dt.strftime('%Y-%m-%d'),  # Converting datetime to string
    'Day': all_dates.dt.day,
    'Month': all_dates.dt.month,
    'Quater': all_dates.dt.quarter,
    'Year': all_dates.dt.year,
    'IsWeekDay': all_dates.dt.weekday < 5,  # Weekdays are less than 5
    'DayOfWeek': all_dates.dt.day_name()
})

date_records = date_records.drop_duplicates()
date_records.to_csv(os.path.join(output_folder_path,'DateDim.csv'),index=False)

In [32]:
date_records

         DateID    FullDate  Day  Month  Quater  Year  IsWeekDay  DayOfWeek
0      20110531  2011-05-31   31      5       2  2011       True    Tuesday
42     20110601  2011-06-01    1      6       2  2011       True  Wednesday
46     20110602  2011-06-02    2      6       2  2011       True   Thursday
51     20110603  2011-06-03    3      6       2  2011       True     Friday
53     20110604  2011-06-04    4      6       2  2011      False   Saturday
...         ...         ...  ...    ...     ...   ...        ...        ...
93297  20140708  2014-07-08    8      7       3  2014       True    Tuesday
93325  20140709  2014-07-09    9      7       3  2014       True  Wednesday
93357  20140710  2014-07-10   10      7       3  2014       True   Thursday
93388  20140711  2014-07-11   11      7       3  2014       True     Friday
93410  20140712  2014-07-12   12      7       3  2014      False   Saturday

[1139 rows x 8 columns]

Function to map from a date to a date id to refer in the date dimension table

In [33]:
def date_to_id(date):
    return date.strftime('%Y%m%d')

Transform the date values to become date ids and rename corresponding columns

In [34]:
for column in ['OrderDate','DueDate','ShipDate']:
    SalesOrderHeader[column] = SalesOrderHeader[column].apply(date_to_id)
    SalesOrderHeader[column] = SalesOrderHeader[column].astype('int64')
    SalesOrderHeader.rename(columns={column: column+'ID'}, inplace=True)

In [35]:
SalesOrderHeader.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31150 entries, 0 to 31464
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SalesOrderID     31150 non-null  int64
 1   OrderDateID      31150 non-null  int64
 2   DueDateID        31150 non-null  int64
 3   ShipDateID       31150 non-null  int64
 4   CustomerID       31150 non-null  int64
 5   ShipToAddressID  31150 non-null  int64
 6   TaxAmt           31150 non-null  float64
 7   Freight          31150 non-null  float64
 8   OnlineOrderFlag  31150 non-null  bool
 9   Status           31150 non-null  int64
dtypes: bool(1), float64(2), int64(7)
memory usage: 2.4 MB

**6.SalesOrderDetail**

In [36]:
SalesOrderDetail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121317 entries, 0 to 121316
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   SalesOrderID           121317 non-null  int64
 1   SalesOrderDetailID     121317 non-null  int64
 2   CarrierTrackingNumber  60919 non-null   object
 3   OrderQty               121302 non-null  float64
 4   ProductID              121317 non-null  int64
 5   SpecialOfferID         121317 non-null  int64
 6   UnitPrice              121314 non-null  object
 7   UnitPriceDiscount      121317 non-null  object
 8   LineTotal              121317 non-null  float64
 9   rowguid                121317 non-null  object
 10  ModifiedDate           121317 non-null  object
dtypes: float64(2), int64(4), object(5)
memory usage: 10.2+ MB

Remove unwanted column

In [37]:
selected_columns = ['SalesOrderID', 'SalesOrderDetailID','OrderQty','ProductID','UnitPrice','UnitPriceDiscount','LineTotal']
SalesOrderDetail = SalesOrderDetail.loc[:, selected_columns]

In [38]:
SalesOrderDetail

,SalesOrderID,SalesOrderDetailID,OrderQty,ProductID,UnitPrice,UnitPriceDiscount,LineTotal
0,43659,1,1.0,776,"2024,994","0,00",2024.994
1,43659,2,3.0,777,"2024,994","0,00",6074.982
2,43659,3,1.0,778,"2024,994","0,00",2024.994
3,43659,4,1.0,771,"2039,994","0,00",2039.994
4,43659,5,1.0,772,"2039,994","0,00",2039.994
...,...,...,...,...,...,...,...
121312,75122,121313,1.0,878,"21,98","0,00",21.980
121313,75122,121314,1.0,712,"8,99","0,00",8.990
121314,75123,121315,1.0,878,"21,98","0,00",21.980
121315,75123,121316,1.0,879,"159,00","0,00",159.000
121316,75123,121317,1.0,712,"8,99","0,00",8.990

Change type of prices to float

In [39]:
SalesOrderDetail['UnitPrice'] = SalesOrderDetail['UnitPrice'].astype('str').str.replace(',', '.').astype(float)
SalesOrderDetail['LineTotal'] = SalesOrderDetail['LineTotal'].astype('str').str.replace(',', '.').astype(float)
SalesOrderDetail['UnitPriceDiscount'] = SalesOrderDetail['UnitPriceDiscount'].astype('str').str.replace(',', '.').astype(float)
SalesOrderDetail['LineTotalDiscount'] = SalesOrderDetail['UnitPrice'] * SalesOrderDetail['UnitPriceDiscount'] * SalesOrderDetail['OrderQty']

*Impute invalid data values for unit price: Negative and 0 values for UnitPrice*

Function to get most frequently sold price of a product

In [40]:
def get_most_frequent_price(product_id):
    return SalesOrderDetail[SalesOrderDetail['ProductID'] == product_id]['UnitPrice'].mode()

Fill in invalid Unit Price with their most frequent price

In [41]:
SalesOrderDetail.loc[(SalesOrderDetail['UnitPrice'] <= 0)| (SalesOrderDetail['UnitPrice'].isna())  ,'UnitPrice'] = SalesOrderDetail.loc[(SalesOrderDetail['UnitPrice'] <= 0)| (SalesOrderDetail['UnitPrice'].isna())]['ProductID'].apply(get_most_frequent_price)

Invalid Order Quantity: negative order quantity. Impute by negating those values

In [42]:
SalesOrderDetail.loc[(SalesOrderDetail['OrderQty'] <= 0),'OrderQty'] = - SalesOrderDetail.loc[(SalesOrderDetail['OrderQty'] <= 0)]['OrderQty']

Drop duplicated values

In [43]:
SalesOrderDetail = SalesOrderDetail.drop_duplicates().dropna()

Calculate the updated total discount

In [44]:
SalesOrderDetail['LineTotalDiscount'] = SalesOrderDetail['UnitPrice'] * SalesOrderDetail['UnitPriceDiscount'] * SalesOrderDetail['OrderQty']

Calculate the new Line total after imputations

In [45]:
SalesOrderDetail['LineTotal']  = (SalesOrderDetail['OrderQty'] * SalesOrderDetail["UnitPrice"]*(1-SalesOrderDetail['UnitPriceDiscount']))

In [46]:
SalesOrderDetail.info()

<class 'pandas.core.frame.DataFrame'>
Index: 121268 entries, 0 to 121316
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   SalesOrderID        121268 non-null  int64
 1   SalesOrderDetailID  121268 non-null  int64
 2   OrderQty            121268 non-null  float64
 3   ProductID           121268 non-null  int64
 4   UnitPrice           121268 non-null  float64
 5   UnitPriceDiscount   121268 non-null  float64
 6   LineTotal           121268 non-null  float64
 7   LineTotalDiscount   121268 non-null  float64
dtypes: float64(5), int64(3)
memory usage: 8.3 MB

Rename columns

In [47]:
SalesOrderDetail.rename(columns={'UnitPriceDiscount': 'PercentDiscount'}, inplace=True)
SalesOrderDetail.rename(columns={'SalesOrderDetailID': 'SaleItemFactID'}, inplace=True)

Merge to select the valid Sales Order Detail after Sales Order Header has been selected

In [48]:
SalesOrderDetail = pd.merge(SalesOrderDetail,SalesOrderHeader, on='SalesOrderID', how='inner')
selected_columns = ['SaleItemFactID', 'SalesOrderID','OrderQty','ProductID','UnitPrice','PercentDiscount','LineTotal','LineTotalDiscount']
SalesOrderDetail = SalesOrderDetail.loc[:, selected_columns]

In [49]:
# Cast order quantity to int 
SalesOrderDetail['OrderQty']  = SalesOrderDetail['OrderQty'].astype(int)

In [50]:
SalesOrderDetail

,SaleItemFactID,SalesOrderID,OrderQty,ProductID,UnitPrice,PercentDiscount,LineTotal,LineTotalDiscount
0,1,43659,1,776,2024.994,0.0,2024.994,0.0
1,2,43659,3,777,2024.994,0.0,6074.982,0.0
2,3,43659,1,778,2024.994,0.0,2024.994,0.0
3,4,43659,1,771,2039.994,0.0,2039.994,0.0
4,5,43659,1,772,2039.994,0.0,2039.994,0.0
...,...,...,...,...,...,...,...,...
120093,121313,75122,1,878,21.980,0.0,21.980,0.0
120094,121314,75122,1,712,8.990,0.0,8.990,0.0
120095,121315,75123,1,878,21.980,0.0,21.980,0.0
120096,121316,75123,1,879,159.000,0.0,159.000,0.0
120097,121317,75123,1,712,8.990,0.0,8.990,0.0

In [51]:
SalesOrderHeader

,SalesOrderID,OrderDateID,DueDateID,ShipDateID,CustomerID,ShipToAddressID,TaxAmt,Freight,OnlineOrderFlag,Status
0,43659,20110531,20110612,20110607,29825,985,1971.5149,616.0984,False,5
1,43660,20110531,20110612,20110607,29672,921,124.2483,38.8276,False,5
2,43661,20110531,20110612,20110607,29734,517,3153.7696,985.5530,False,5
3,43662,20110531,20110612,20110607,29994,482,2775.1646,867.2389,False,5
4,43663,20110531,20110612,20110607,29565,1073,40.2681,12.5838,False,5
...,...,...,...,...,...,...,...,...,...,...
31460,75119,20140630,20140712,20140707,11981,17649,3.3824,1.0570,True,5
31461,75120,20140630,20140712,20140707,18749,28374,6.7968,2.1240,True,5
31462,75121,20140630,20140712,20140707,15251,26553,5.9984,1.8745,True,5
31463,75122,20140630,20140712,20140707,15868,14616,2.4776,0.7743,True,5
31464,75123,20140630,20140712,20140707,18759,14024,15.1976,4.7493,True,5

Calculate the new precise SubTotal from the updated SalesOrderDetail by aggregating the updated rows

In [52]:
# Step 1: Aggregate the sum of 'LineTotal' for each 'SalesOrderID'
aggregate_totals = SalesOrderDetail.groupby('SalesOrderID')['LineTotal'].sum().rename('SubTotal').reset_index()

# Step 2: Merge this aggregated data back with the original 'SalesOrderHeader' DataFrame
SalesOrderHeader = pd.merge(SalesOrderHeader, aggregate_totals, on='SalesOrderID', how='inner')

In [53]:
SalesOrderHeader

,SalesOrderID,OrderDateID,DueDateID,ShipDateID,CustomerID,ShipToAddressID,TaxAmt,Freight,OnlineOrderFlag,Status,SubTotal
0,43659,20110531,20110612,20110607,29825,985,1971.5149,616.0984,False,5,20565.6206
1,43660,20110531,20110612,20110607,29672,921,124.2483,38.8276,False,5,1294.2529
2,43661,20110531,20110612,20110607,29734,517,3153.7696,985.5530,False,5,32726.4786
3,43662,20110531,20110612,20110607,29994,482,2775.1646,867.2389,False,5,28832.5289
4,43663,20110531,20110612,20110607,29565,1073,40.2681,12.5838,False,5,419.4589
...,...,...,...,...,...,...,...,...,...,...,...
31141,75119,20140630,20140712,20140707,11981,17649,3.3824,1.0570,True,5,42.2800
31142,75120,20140630,20140712,20140707,18749,28374,6.7968,2.1240,True,5,84.9600
31143,75121,20140630,20140712,20140707,15251,26553,5.9984,1.8745,True,5,74.9800
31144,75122,20140630,20140712,20140707,15868,14616,2.4776,0.7743,True,5,30.9700
31145,75123,20140630,20140712,20140707,18759,14024,15.1976,4.7493,True,5,189.9700

Remove unwanted columns

In [54]:
selected_columns = ['SalesOrderID', 'OrderDateID', 'DueDateID','ShipDateID','CustomerID','ShipToAddressID','SubTotal','TaxAmt','Freight','OnlineOrderFlag']
SalesOrderHeader = SalesOrderHeader.loc[:, selected_columns]

# Creating FACT table

In [55]:
# Create a general table containing all the tables we have processed in order to create the fact table
merged = SalesOrderDetail.merge(SalesOrderHeader,on='SalesOrderID') \
                         .merge(Address,left_on='ShipToAddressID',right_on='AddressID') \
                         .merge(StateProvince, on='StateProvinceID')
StateProvinceFact = merged.groupby(['StateProvinceID','StateProvinceCode','CountryRegionName','Name','OrderDateID']).agg({'CustomerID' : 'nunique', 'OrderQty' : 'sum', 'SalesOrderID' : 'nunique', 'LineTotal' : 'sum', 'LineTotalDiscount' : 'sum'}).reset_index()
StateProvinceFact

,StateProvinceID,StateProvinceCode,CountryRegionName,Name,OrderDateID,CustomerID,OrderQty,SalesOrderID,LineTotal,LineTotalDiscount
0,1,AB,Canada,Alberta,20110701,4,75,4,92126.911000,0.000000
1,1,AB,Canada,Alberta,20111001,4,92,4,111081.906592,469.798608
2,1,AB,Canada,Alberta,20111118,1,1,1,3578.270000,0.000000
3,1,AB,Canada,Alberta,20120101,3,65,3,68109.907700,0.000000
4,1,AB,Canada,Alberta,20120330,4,78,4,84921.048300,0.000000
...,...,...,...,...,...,...,...,...,...,...
11027,181,95,France,Val d'Oise,20140519,1,2,1,2329.980000,0.000000
11028,181,95,France,Val d'Oise,20140525,1,5,1,2523.920000,0.000000
11029,181,95,France,Val d'Oise,20140609,1,3,1,36.270000,0.000000
11030,181,95,France,Val d'Oise,20140613,1,2,1,43.980000,0.000000
11031,181,95,France,Val d'Oise,20140619,1,1,1,28.990000,0.000000

In [ ]:
longitude = [] 
latitude = [] 

def findGeocode(city):    
     geolocator = Nominatim(user_agent="your_app_name") 
     return geolocator.geocode(city) 

# We group the `StateProvinceFact` data by `StateProvinceID` to avoid processing duplicate entries for each state or province. For each unique ID, the first occurrence of the state or province name and the associated country/region name is taken.
ProvinceName = StateProvinceFact.groupby('StateProvinceID')[['Name','CountryRegionName']].first().reset_index()
# We iterate over each grouped entry and build a query using the state or province name concatenated with its country or region name. This helps in specifying the context to the geocoder, improving accuracy.
for idx, row in ProvinceName.iterrows():
     # For each query, the geocode function is called. If a location is found, we extract the latitude and longitude and append them to our lists. If no location is found, we append NaN to handle missing values.
     query = row['Name'] + ', ' + row['CountryRegionName']
     if findGeocode(query) != None: 
        loc = findGeocode(query) 
          
        latitude.append(loc.latitude) 
        longitude.append(loc.longitude) 

        print(query, loc.latitude, loc.longitude)
       
     else: 
          latitude.append(np.nan) 
          longitude.append(np.nan) 
# we store the obtained latitudes and longitudes back into the `ProvinceName` dataframe, adding two new columns: `ProvinceLat` and `ProvinceLong`. These columns now contain the geocoded coordinates for each location.
ProvinceName['ProvinceLat'] = latitude
ProvinceName['ProvinceLong'] = longitude

In [ ]:
# Merge with Geocoded Data  
StateProvinceFact = StateProvinceFact.merge(ProvinceName, on=['StateProvinceID','Name','CountryRegionName'])
# Renaming Columns
StateProvinceFact.rename(columns={"Name" : "StateProvinceName", "OrderDateID" : "DateID", "CustomerID" : "CustomerCount", "OrderQty" : "ProductCount", "SalesOrderID" : "OrderCount", "LineTotalDiscount" : "TotalDiscount", "LineTotal" : "TotalSale"}, inplace=True)
# Selecting Specific Columns
StateProvinceFact = StateProvinceFact[['DateID','StateProvinceID','StateProvinceCode','StateProvinceName','CountryRegionName','ProvinceLat','ProvinceLong','ProductCount','OrderCount', 'TotalDiscount', 'CustomerCount', 'TotalSale']]
StateProvinceFact

,DateID,StateProvinceID,StateProvinceCode,StateProvinceName,CountryRegionName,ProvinceLat,ProvinceLong,ProductCount,OrderCount,TotalDiscount,CustomerCount,TotalSale
0,20110701,1,AB,Alberta,Canada,55.001251,-115.002136,75,4,0.000000,4,92126.911000
1,20111001,1,AB,Alberta,Canada,55.001251,-115.002136,92,4,469.798608,4,111081.906592
2,20111118,1,AB,Alberta,Canada,55.001251,-115.002136,1,1,0.000000,1,3578.270000
3,20120101,1,AB,Alberta,Canada,55.001251,-115.002136,65,3,0.000000,3,68109.907700
4,20120330,1,AB,Alberta,Canada,55.001251,-115.002136,78,4,0.000000,4,84921.048300
...,...,...,...,...,...,...,...,...,...,...,...,...
11027,20140519,181,95,Val d'Oise,France,49.075070,2.209811,2,1,0.000000,1,2329.980000
11028,20140525,181,95,Val d'Oise,France,49.075070,2.209811,5,1,0.000000,1,2523.920000
11029,20140609,181,95,Val d'Oise,France,49.075070,2.209811,3,1,0.000000,1,36.270000
11030,20140613,181,95,Val d'Oise,France,49.075070,2.209811,2,1,0.000000,1,43.980000
11031,20140619,181,95,Val d'Oise,France,49.075070,2.209811,1,1,0.000000,1,28.990000

Export fact table to csv

In [ ]:
StateProvinceFact.to_csv(os.path.join(output_folder_path,'StateProvinceFact.csv'),index=False)

Load to Cloud
+ On Linux:
     - Using cmd: psql postgresql://avnadmin:AVNS_DHKBO9HHgdzu-m2cpOe@pg-20374fb6-data-warehouse.a.aivencloud.com:21145/defaultdb?sslmode=require
     - Paste the following commands, one by one
     - DO NOT RUN THIS EXCEPTING INSERT/REINSERT DATA

In [ ]:
# \copy state_province_dim FROM '/home/sky/Documents/school/DW/data_warehouse/transformed_tables/StateProvinceDim.csv' DELIMITER ',' CSV HEADER;

# \copy date_dim FROM '/home/sky/Documents/school/DW/data_warehouse/transformed_tables/DateDim.csv' DELIMITER ','CSV HEADER;

# \copy address_line_dim FROM '/home/sky/Documents/school/DW/data_warehouse/transformed_tables/AddressLineDim.csv' DELIMITER ',' CSV HEADER;

# \copy order_dim FROM '/home/sky/Documents/school/DW/data_warehouse/transformed_tables/OrderDim.csv' DELIMITER ',' CSV HEADER;

# \copy product_sub_category_dim FROM '/home/sky/Documents/school/DW/data_warehouse/transformed_tables/ProductSubcategoryDim.csv' DELIMITER ',' CSV HEADER;

# \copy product_dim FROM '/home/sky/Documents/school/DW/data_warehouse/transformed_tables/ProductDim.csv'  DELIMITER ',' CSV HEADER;

# \copy sale_item_fact FROM '/home/sky/Documents/school/DW/data_warehouse/transformed_tables/SaleItemFact.csv' DELIMITER ','  CSV HEADER;